* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  display: grid;
  background-color: #33394b;
  padding: 10px;
}

header {
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 40px 50px;
}

.left-arrow {
  height: 30px;
}

.love-heart {
  height: 30px;
}

.menu-icon {
  height: 30px;
}

.picture {
  width: 100%;
  display: grid;
  place-items: center;
}

main {
  width: 100%;
  display: grid;
  place-items: center;
  grid-gap: 10px;
}

.socials {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.github-icon {
}

.twitter-icon {
  height: 50px;
}

.codesandbox-icon {
  background-color: black;
}
